@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--animation-effects),
      visibility var(--animation-effects);
  }
  .mobile-menu__nav-list {
    display: block;
    margin-top: 48px;
    margin-bottom: 302px;
    margin-left: 25px;
  }
  .mobile-menu__nav-item{
    margin-bottom: 32px;
  }
  .mobile-menu__nav-link {
    transition: color var(--animation-effects);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
  }

.mobile-menu__contact-list{
  display: block;
  margin-left: 25px;
  margin-bottom: 64px;
}
.mobile-menu__contact-tel{
  display: block;
  margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: var(--accent-color);
}
.mobile-menu__contact-mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.mobile-menu__social-list{
    display: block;
      margin-left: 25px;
      margin-bottom: 48px;
}
.mobile-menu__social-item{
display: inline-block;
&:not(:last-child){
  margin-right: 20px;
}
}
.mobile-menu__social-link{
  position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    &::after{
      content:"";
      position: absolute;
      top: 10px;
        width: 22px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
}

  .mobile-menu__container {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__close-btn {
    transition: fill var(--animation-effects);
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover,
    &:focus{
      fill: var(--accent-color);
    }
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
