:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --accent-second-color: #FFFFFF;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --stuff-background-color: #F5F4FA;
    --animation-effects: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}