@media screen and (max-width: 767px) {
  .page-nav__list {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.page-header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo {
  transition: color var(--animation-effects);
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  color: #000000;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.logo__first-part {
  color: var(--accent-color);
}

@media screen and(min-width:768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid#ECECEC;
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-nav {
    @include flex;
  }
  .page-nav__list {
    @include flex;
    margin-left: 88px;
  }
  .page-nav__link {
    transition: color var(--animation-effects);
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .page-nav__link.current {
    color: var(--accent-color);
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 48px;
      height: 4px;
      margin-top: 32px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
    &.after::after {
      width: 75px;
    }
  }
  .page-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-contact {
    margin-left: auto;
  }
  .header-contact__item {
    display: block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .header-contact__icon {
    margin-right: 8px;
    fill: #757575;
    .header-contact__link:hover &,
    .header-contact__link:focus & {
      fill: var(--accent-color);
    }
  }
  .header-contact__link {
    transition: color var(--animation-effects);
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

@media screen and(min-width:1200px) {
  .page-nav__list {
    margin-left: 93px;
  }
  .logo {
    @include font(700, 26px, 31px);
  }
  .header-contact {
    @include flex;
    margin-left: auto;
    margin-right: 30px;
  }
  .header-contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .header-contact__link {
    transition: color var(--animation-effects);
    @include flex;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .header-contact__icon {
    transition: fill var(--animation-effects);
    fill: #757575;
    margin-right: 10px;

    .header-contact__link:hover &,
    .header-contact__link:focus & {
      fill: var(--accent-color);
    }
  }
}
/* .page-header {
  border-bottom: 1px solid#ECECEC;
}
.page-header_container {
  @include flex;
}
.page-nav {
  @include flex;
}
.page-nav__list {
  @include flex;
  margin-left: 93px;
}
.logo {
  transition: color var(--animation-effects);
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 31px);
  letter-spacing: 0.03em;
  color: #000000;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo__first-part {
  color: var(--accent-color);
}

.page-nav__link {
  transition: color var(--animation-effects);
  @include font(500, 14px, 16px);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.page-nav__link.current{
    color: var(--accent-color);
    &::after{
            content: "";
                position: absolute;
                display: block;
                width: 48px;
                height: 4px;
                margin-top: 35px;
                border-radius: 2px;
                background-color: var(--accent-color);
            }
    }

.page-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  @include flex;
  margin-left: auto;
  margin-right: 30px;
}
.header-contact__item:not(:last-child) {
  margin-right: 30px;
}
.header-contact__link {
  transition: color var(--animation-effects);
  @include flex;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, 14px, 16px);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact__icon {
    transition: fill var(--animation-effects);
  fill: #757575;
  margin-right: 10px;
  .header-contact__link:hover &,
  .header-contact__link:focus & {
    fill: var(--accent-color);
  }
} */
