.proj-list__item{
    margin-bottom: 30px;
    &:nth-child(9n){
        margin-bottom: 0;
    }
}

.proj-list{
    padding-bottom: 60px;
}

.portfolio-photo{
    width: 100%;
}

.proj-list__name {
    padding-left: 24px;
        margin-bottom: 4px;
    @include font(700, 18px, 36px);
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.proj-list__desc {
    padding-left: 24px;
    color: var(--primary-text-color);
    margin: 0px auto;
    line-height: 2;
    letter-spacing: 0.03em;
}

.proj-list__link {

    display: block;
    box-shadow: none;
    transition: box-shadow var(--animation-effects);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.proj-list__meta {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid#EEEEEE;
    border-right: 1px solid#EEEEEE;
    border-bottom: 1px solid#EEEEEE;
}

.proj-list__overlay {
    position: relative;
    overflow: hidden;
}

.proj-list__item-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--animation-effects);
    margin: 0 auto;
    padding: 0px 24px;
    align-items: center;
    @include font(400, 18px, 28px);
    letter-spacing: 0.03em;
    color: var(--accent-second-color);
    background: rgba(33, 150, 243, 0.9);

    .proj-list__link:hover &,
    .proj-list__link:focus & {
        transform: translate(0, 0);
    }
}
@media screen and (min-width:768px) {
    .proj-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 0;
    }
    .proj-list__item {
  margin-bottom: 0;
}
}

@media screen and(min-width:1200px) {
    .proj-list{
        padding-top: 50px;
    }
    .btn-list{
        padding-bottom: 0;
    }
}